[submodule "bash-it"]
	path = bash-it
	url = https://github.com/Bash-it/bash-it.git
	ignore = dirty
[submodule "_submodules/antigen"]
	path = _submodules/antigen
	url = https://github.com/zsh-users/antigen.git
