[core]
	eol = lf
	autocrlf = false

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg1 = log --pretty=oneline
	cl = clone --recurse-submodules
	in = init
	# cleanup already **fully** merged branches (git branch -d)
	brcleanup = !git branch --merged | egrep -v '(^\\*|^\\s*master$|^\\s*develop$|^\\s*dev$)' | xargs -n1 -r git branch -d
	submodule-pull = submodule update --init --remote
	submodule-update-rec = submodule update --init --recursive

[pager]
	log  = diffr | less
	show = diffr | less
	diff = diffr | less

[include]
	path = ~/.gitconfig-local

# Ending slash (/) makes it to work recursively like (/**)
[includeIf "gitdir:~/repos/"]
	path = ~/repos/.gitconfig
[includeIf "gitdir:~/personal-repos/"]
	path = ~/personal-repos/.gitconfig

[init]
	defaultBranch = main
